* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: DejaVu Sans Mono, monospace;
}

.topnav {
    list-style-type: none;
    margin: 0;
    height: auto;
    min-height: 45px; 
    font-size: 15px;
    background-color:#484848;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.col-sm-10 a:visited {
    color: blue;
}

..col-sm-10 {
    list-style-type: none;
}


.icon {
    padding-bottom: 100px;
}
.topnav li{
    display: inline;
}

.topnav li a{
    color: white;
    text-decoration: none;
}


body {

}

.catnav{
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;  
    padding-top: 15px; 
    height: auto; 
    font-size: 15px; 
    padding-left: 30px; 
    padding-right: 30px;
}

.catnav li {
    display: inline;
}

.catnav li a{
    display: inline;
}

.recentbooks {
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 30px; 
    padding-right: 30px;
}

.booklist {
    margin-bottom: 30px;
    padding-left: 30px; 
    padding-right: 30px;
}

.booktitle {
    margin-bottom: 15px;
    font-size: 15px;
}

.bookdesc {
    margin-bottom: 15px;
}

.booksby {
    font-weight: bold;
}

.added {
    margin-bottom: 15px;
}

.catdetail, .yourfavs, .faveadded, .regs{
    padding-left: 30px; 
    padding-right: 30px;
    padding-top: 15px;
}

.catname {
    font-size: 15px;
    margin-bottom: 15px;
}

.bookhead {
    font-size: 15px;
    margin-bottom: 15px;
}

.navbar_flex {
    display: flex;
    justify-content: space-between;
}

.nav_name {
    padding-right: 50px;
    padding-top: 5px;
}

.nav_links {
    padding-top: 12px;
}

