* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: DejaVu Sans Mono, monospace;
}

body {
    background-color: brown;
}
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;   
    background-color: blue;
}

.topnav li {
    display: inline;
}