<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% block title %}<title>Freeshelf</title>{% endblock %} -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div >
        <div class="nav-wrapper">
            <div class="topnav">
                {% block topnav %}
                <ul class="navbar_flex">
                    <div class="nav_name">
                        <li><a href="{% url 'index' %}">Freeshelf</a></li>
                    </div>
                    <div class="nav_links">
                        {% if request.user.is_authenticated %}
                        Logged in as {{ request.user }} | <li><a href="{% url 'user-favorites' %}">Favorites</a></li> | <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'auth_login' %}">Login |</a></li>
                        <li><a href="{% url 'registration_register' %}">Register</a></li>
                        {% endif %}
                    </div>
                </ul>
                {% endblock %}
            </div>
            <div class="catnav">
                {% block catnav %}
                <ul>
                    <li class="booksby">Books by category:</li>
                    {% for category in category_list %}
                    <li><a href='{{ category.get_absolute_url }}'>{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
        </div>
    </div>
</body>
</html>