{% extends "base_generic.html" %}

{% block content %}
  <h2 class="recentbooks">Recently added books</h2>
    {% if book_list %}
        {% for book in book_list %}
        <div class="booklist">
            <div class="booktitle"><a href="{{ book.url_address }}">{{ book.title }}</a> by {{book.author}} </div>
            <p class="bookdesc">{{book.description}}</p>
            <p>Added: {{book.add_date}} Category: <a href='{{ book.category.all|join:"," }}'>{{ book.category.all|join:", "}}</a></p>
        </div>
        {% endfor %}
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}   
{% endblock %}